/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/TAGS
/_libs
/autom4te.cache
/autoscan.log
/config.cache
/config.h
/config.log
/config.lt
/config.status
/config.status.lineno
/configure.lineno
/configure.scan
/doltcompile
/fontconfig-zip
/fontconfig.pc
/fontconfig.spec
/fonts.conf
/libtool
/mkinstalldirs
/so_locations
/stamp-h1
/tags
/target
/Cargo.lock
